body {
    background-color: lightblue;
}

.welcome {
    color: darkblue;
}

p {
    color: darkgreen;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    /* The image used */
    background-image: url('R.jpg');

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    text-align: center;
    padding: 50px;
    background-color: white;
    color: black;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}